@font-face {
    font-family: 'FonteH1';
    src: url(./glamour_karlina/Glamour\ Karlina.woff) format('woff');
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(205, 167, 147);
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.minha-img {
    width: 496px; /* Defina a largura desejada, por exemplo, 50% da largura do contêiner pai */
    height: auto;
}



.minha-fonte {
    font-family: 'FonteH1', sans-serif;
}

@import url(https://db.onlinewebfonts.com/c/cf3b1825f5b015ebd8dcdc3e97ac129c?family=Fugue+Regular);

h2 {
    font-family: "Fugue Regular";
    color:rgb(205, 167, 147);
    font-weight: 400;
    font-style: normal;
    font-size: 54px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
}

.mano {
    display: flex;
    align-items: center; /* Alinha verticalmente */
}

